{% extends "base.html" %}

{% block content %}

<div style="text-align: center; padding: 50px;">
    <h1 style="color: rgb(0, 45, 128);">About Us</h1>
    <p>We are a leading provider of laptops for all purposes, from gaming to business solutions.</p>
    <p>Founded in 2024, our commitment is to bring the best technology to consumers at affordable prices.</p>
    <img src="static/images/storefront.jpg" alt="Store Front" style="width: 50%; border-radius: 8px; margin-top: 20px;">
</div>

{% endblock %}